* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; /*Keep image aspect ratio*/
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
}
.app__signUp {
  display: flex;
  flex-direction: column;
}
